[package]
name = "mock-mayflower"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]

[features]
default = []
no-entrypoint = []
idl-build = []

[dependencies]
solana-program = "2.3"
